<header class="p-2 flex h-14 bg-zinc-50 w-full">
  <div class="w-70 h-full flex justify-center"><!-- logo -->
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img>
    <div class="flex items-center uppercase h-full text-3xl font-bold">.share</div>
    </a>
  </div> <!-- end logo -->

  <div class="flex w-auto shrink grow"> <!-- main part -->
    <button><img></button>
    <input class="items-center max-w-3xl pl-2 w-full rounded-lg h-full bg-zinc-200" placeholder="Искать">
  </div><!-- end main part -->

  <!-- login part -->
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="uppercase h-full w-24 rounded-lg bg-zinc-200 px-4 flex justify-center items-center">
      войти
    </div>
  </a>

</header>
